 <footer>
        <div class="footer-main" style="padding: 80px;">
          
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                    
                        <div class="footer-top-box">
                            <h4>Social Media</h4>
                            <p>Connect to us anytime through our handles</p> 
                            <ul style="list-style: none;">
                                 <li><a href="https://www.instagram.com/p/CXCZn7AI7gh/?utm_medium=copy_link"><i class="fa fa-whatsapp" aria-hidden="true" style="padding: 5px;"></i></a></li>
                                <li><a href="https://www.instagram.com/p/CXCZn7AI7gh/?utm_medium=copy_link"><i class="fa fa-facebook" style="padding: 5px;"></i></a></li>
                                <li><a href="https://www.instagram.com/p/CXCZn7AI7gh/?utm_medium=copy_link"><i class="fa fa-instagram" aria-hidden="true" style="padding: 5px;"></i></a></li>
                                <li><a href="https://www.instagram.com/p/CXCZn7AI7gh/?utm_medium=copy_link"><i class="fa fa-youtube" aria-hidden="true" style="padding: 5px;"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul style="list-style: none;" >
                                <li><a href="">Home</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/ourproducts">Our Products</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                         
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul style="list-style: none;">
                                <li>
                                    <p><i class="fa fa-map-marker"></i>SNO 672/10 C-13, <br> Punnyanagari Co-op HSO LTD, <br>BIBAWEWADI,<br> PUNE 411037</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-phone-square"></i>Phone: <a href="tel:+91 94213 31348">+91 94213 31348</a></p>
                                </li>
                                <li>
                                    <p><i class="fa fa-envelope"></i>Email: <a href="mailto:support@poshaqq.com">support@poshaqq.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
               <!--  <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About Freshshop</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>                             
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul style="list-style: none;">
                                <li><a href="/home">Home</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/ourproducts">Our Products</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul style="list-style: none;">
                                <li>
                                    <p><i class="fa fa-map-marker"></i>Address: Michael I. Days 3756 <br>Preston Street Wichita,<br> KS 67213 </p>
                                </li>
                                <li>
                                    <p><i class="fa fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+1-888 705 770</a></p>
                                </li>
                                <li>
                                    <p><i class="fa fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">contactinfo@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
             -->
        </div>
    </footer>
   
 