<div *ngIf="ImageMiscData?.length">
  <div *ngIf="ImageMiscData[0].index===1">
    <div class="hero-wrap hero-bread" style="background-image: url('images/{{ImageMiscData[0].name}}');">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">About us</h1>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- Start About Page  -->
    <div class="about-box-main" style="margin-left: 50px;margin-right: 50px;">
       
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="assets/images/about-img.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">We are <span>Parent Eco Organics</span></h2>
                    <p *ngIf="Data">{{Data.intro1}}</p>
                     <h2 class="noo-sh-title-top">Vision</h2>
                    <p *ngIf="Data.vision">
                 {{Data.vision}}
                    </p>
                   
                       <h2 class="noo-sh-title-top">Mission</h2>
                       <p>{{Data.mission}}
                 </p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Trusted</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Professional</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Expert</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
            </div>
            <div class="row  justify-content-center" *ngIf="TeamImage?.length">
                <h2 class="noo-sh-title justify-content-center">Meet Our Team</h2>
                    
                <div ></div>
                <div class="col-sm-6 col-lg-3" *ngFor="let dt of TeamImage">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/{{dt.image}}" alt="" />
                            <div class="team-content">
                               <!--  <h3 class="title">Williamson</h3> <span class="post">Web Developer</span> --> </div>
                            <!-- <ul class="social">
                                <li>
                                    <a href="#" class="fa fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-youtube"></a>
                                </li>
                            </ul> -->
                         <!--    <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div> -->
                        </div>
                        
                        <hr class="my-0"> </div>
                </div>
                 <div class="col-sm-6 col-lg-3">
                <div class="team-description" *ngFor="let dt of TeamImage">
                     <h3 class="title">{{dt.name}}</h3> <span class="post">{{dt.designation}}</span>
                            <p>{{dt.comment}}</p>
                        </div>
               </div>
            </div>
       
    </div>
    <!-- End About Page -->
<div class="row">
    <div class="col-md-12">
        <div class="ftco-section">
        
            <div class="row no-gutters ftco-services">
              <div class="col-md-3 col-sm-6 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-shipped" style="transform: rotate(-45deg);"></span>
                    </div>
                    <div class="media-body">
                      <h3 class="heading">Fast Delievery</h3>
                      <span>Within 24 hours</span>
                    </div>
                </div>      
              </div>
              <div class="col-md-3 col-sm-6 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                      <span class="flaticon-diet" style="transform: rotate(-45deg);"></span>
                </div>
                <div class="media-body">
                  <h3 class="heading">Always Fresh</h3>
                  <span>Product well package</span>
                </div>
              </div>    
          </div>
            <div class="col-md-3 col-sm-6 text-center d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services mb-md-0 mb-4">
                <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                      <span class="flaticon-award" style="transform: rotate(-45deg);"></span>
                </div>
                <div class="media-body">
                  <h3 class="heading">Superior Quality</h3>
                  <span>Quality Products</span>
                </div>
              </div>      
              </div>
              <div class="col-md-3 col-sm-6 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-customer-service" style="transform: rotate(-45deg);"></span>
                    </div>
                    <div class="media-body">
                      <h3 class="heading">Support</h3>
                      <span>24/7 Support</span>
                    </div>
                </div>      
              </div>
          </div>
        </div>
    </div>
  </div>
    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
        <div class="row" style="margin-left: 50px;margin-right: 50px;">
            <div class="col-md-5 col-sm-12"  >
               <img src="assets/images/about.jpg">
            </div>
        <div class="col-md-7 col-sm-12">
      <div class="heading-section-bold mb-4 mt-md-5">
        <div class="ml-md-0">
            <h2 class="mb-4">Welcome to POSHAQQ</h2>
        </div>
      </div>
      <div class="pb-md-5">
        <p>{{Data.intro2}}</p>
                </div>
            </div>
        </div>
    </section>
        
<!----		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>---->
		
		<!-- <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(assets/images/bg_3.jpg);">
    	
    		<div class="row justify-content-center py-5">
    			<div class="col-md-10">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="10000">0</strong>
		                <span>Happy Customers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="100">0</strong>
		                <span>Branches</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="1000">0</strong>
		                <span>Partner</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="100">0</strong>
		                <span>Awards</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	
    </section> -->
 
<div class="ftco-section testimony-section img" style="color: #fff;">
    <!-- 
        <div class="container"> -->
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <span class="subheading" style="color: #000">Testimonial</span>
                    <h2 class="mb-3" style="color: #000">Happy Clients</h2>
                </div>
            </div>
            
   <owl-carousel-o [options]="customOptions" >
    <ng-template carouselSlide  *ngFor="let dt of TestimonialImage; let index as i">
        
            <div class="item" >
                <div class="testimony-wrap p-4 pb-5">
                  <img src="images/{{dt.image}}" class="user-img mb-5">
                  
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">{{dt.comment}}</p>
                    <p class="name" style="color: #000;">{{dt.name}}</p>
                    <span class="position" style="color: #000;">{{dt.designation}}</span>
                  </div>
                </div>
        
        </div>
    </ng-template>
  </owl-carousel-o>
    
          
         </div>
   


   <app-footer></app-footer>
            

  <!-- loader -->
  


